@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url("images/pexels-irina-iriser-1408221.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
}
.container{
  display: flex;
  width: 80%;
  margin: 130px auto;
  background-color: rgba(255, 255, 255, 0.89);
  padding: 30px 40px;
  height: 700px;
  border-radius: 15px;
}
form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 60px;
}
input{
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 10px 12px;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline-color: #00006b;
  background-color: #00006b;
}
::placeholder{
  color: rgba(255, 255, 255, 0.774);
}
.category{
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px 12px;
  font-size: 20px;
  color:rgba(255, 255, 255, 0.774);
  border: none;
  border-radius: 10px;
  outline-color: #00006b;
  background-color: #00006b;
}
#formBtn{
  width: 400px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline-color: #00006b;
  background-color: #00006b;
  font-size: 20px;
  transition: all 0.4s ease;
}
#formBtn:hover{
  opacity: 0.7;
}
h1{
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'Caveat', cursive;
  color: #00006b;
  letter-spacing: 2px;
}
.contacts__inner{
  display: flex;
  justify-content: space-between;
}
.contacts{
  width: 100%;
  padding: 0 50px;
  border-left: 2px solid #00006bce;
}
h2{
  font-size: 40px;
  margin-bottom: 50px;
  font-family: 'Caveat', cursive;
  color: #00006b;
}
#sorting{
  height: 50px;
  margin-bottom: 30px;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: bold;
  color: #00006b;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  outline: none;
}
.contact__desc{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  padding: 10px 12px;
}
.contact__list{
  list-style: none;
}
.contact__item{
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #00006b;
  display: flex;
  align-items: center;
}
.desc__inner{
  display: flex;
}
.phone_num{
 display: flex;
 align-items: center;
 text-decoration: none;
 color: #000;
}
.bxs-phone,
.bxs-user{
  font-size: 22px;
  color: #00006b;
  margin-right: 16px;
  position: relative;
  bottom: -2px;
}
.first-name{
  margin-right: 10px;
}